import { MigrationInterface, QueryRunner } from "typeorm";

export class <%= classify(name) %>Migration implements MigrationInterface {
  name = '<%= classify(name) %>'

  public async up(queryRunner: QueryRunner): Promise<void> {
  }

  public async down(queryRunner: QueryRunner): Promise<void> {
  }
}
